@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=IBM+Plex+Mono&family=Michroma&family=Open+Sans&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
input {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    background: whitesmoke;
}


[class*="container"] {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.main_wrapper {
    background-image: url(./images/mainBg2.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 95px;
}

nav {
    height: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    font-family: 'IBM Plex Mono';
    text-decoration: none;
    font-size: 14px;
}

nav img {
    cursor: pointer;
}

.main-title {
    margin-top: 135px;
    margin-bottom: 70px;
    font-family: 'Gabriela';
    font-size: 140px;
    text-align: center;
}

.demo-items-wrapper {
    margin-top: 75px;
    margin-bottom: 56px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.demo-item {
    width: 619px;
    height: 418px;
    font-family: 'IBM Plex Mono';
    font-size: 20px;
    line-height: 141.8%;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;align-items: center;text-align: center;
}

.demo-item:nth-child(1) {
    background-image: url(./images/photo/Rectangle1.png);
}

.demo-item:nth-child(2) {
    background-image: url(./images/photo/Rectangle4.png);
}

.demo-item:nth-child(3) {
    background-image: url(./images/photo/Rectangle2.png);
}

.demo-item:nth-child(4) {
    background-image: url(./images/photo/Rectangle5.png);
}

.demo-item:nth-child(5) {
    background-image: url(./images/photo/Rectangle3.png);
}

.demo-item:nth-child(6) {
    background-image: url(./images/photo/Rectangle6.png);
}

.footer {
    background: rgba(146, 169, 194, 0.72);
}

.footer_container {
    padding: 37px 0;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-title {
    font-family: 'Michroma';
    font-size: 14px;
    line-height: 141.8%;
    letter-spacing: 0.14em;
}

.footer-subtitle {
    font-family: 'Michroma';
    font-size: 14px;
    line-height: 141.8%;
    letter-spacing: 0.14em;
}

.social-network {
    display: flex;
    gap: 21px;
}

.social-network img {
    cursor: pointer;
}

.social-network img:hover {
    filter: invert(1);
}