@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=IBM+Plex+Mono&family=Michroma&family=Open+Sans&display=swap');
/* font-family: 'Gabriela', serif; */
/* font-family: 'IBM Plex Mono', monospace; */
/* font-family: 'Michroma', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
input {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    /* background: #F7F7F7; */
    background: #072751;

}


[class*="container"] {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.main_wrapper {
    background-image: url(../assets/mainBg.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 95px;

}

nav {
    /* width: 100%; */
    height: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    font-family: 'IBM Plex Mono';
    text-decoration: none;
    font-size: 14px;
}

.main-title {
    margin-top: 135px;
    margin-bottom: 70px;
    font-family: 'Gabriela';
    font-size: 196px;
    text-align: center;
}

.main-subtitle-wrapper {
    width: 1038px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.main-subtitle_item {
    width: 330px;
    height: 80px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(2, 6, 10, 0.85);
    ;
    border-radius: 9px;
}

.main-subtitle_item p {
    font-family: 'IBM Plex Mono';
    font-size: 11.8819px;
}

/* .main-subtitle_item p:nth-child(1) {
    margin-bottom: 11px;
} */
.welcome-alaska {}

.welcome-alaska-container {}

.welcome-alaska-title {
    margin-top: 125px;
    margin-bottom: 60px;
}

.title p {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.14em;
    color: #FF0000;
    text-transform: uppercase;

}

.welcome-alaska-subtitle {
    margin-bottom: 74px;
}

.subtitle p {
    font-size: 26px;
    line-height: 141.8%;
    font-style: normal;
    letter-spacing: 0.14em;
    width: 703px;
}

.welcome-alaska-photogallery-wrapper {}

.photogallery-title {
    font-family: 'IBM Plex Mono';
    font-size: 18px;
    line-height: 141.8%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;

}

.photogallery-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 171px;
}

.photogallery-wrapper img {
    width: 600px;
    height: 750px;
}

.chooce-a-trip {}

.chooce-a-trip_container {}

.chooce-a-trip-title {}

.title {}

.chooce-a-trip-photo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1300px;
    margin-bottom: 168px;
    margin-top: 116px;
}

.chooce-a-trip-photo-wrapper .choocea-trip_item {
    position: absolute;
    width: 444px;
    height: 444px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    font-family: 'Michroma';
    font-size: 12px;
    line-height: 141.8%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    cursor: pointer;
}

.chooce-a-trip-photo-wrapper .choocea-trip_item:hover {
    transform: scale(1.2);
}

.chooce-a-trip-photo-wrapper div:nth-of-type(1) {
    top: 0;
    background-image: url(../assets/photo/Ellipse1.png);

}

.chooce-a-trip-photo-wrapper div:nth-of-type(2) {
    right: 0;
    background-image: url(../assets/photo/Ellipse2.png);

}

.chooce-a-trip-photo-wrapper div:nth-of-type(3) {
    bottom: 0;
    background-image: url(../assets/photo/Ellipse3.png);

}

.chooce-a-trip-photo-wrapper div:nth-of-type(4) {
    left: 0;
    background-image: url(../assets/photo/Ellipse4.png);

}

.learn-more {
    width: 222px;
    height: 222px;
    background: #48607E;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.navigation {}

.navigation_container {}

.navigation-title {
    margin-bottom: 82px;
}

.title {}

.navigation-subtitle {
    margin-bottom: 160px;

}

.subtitle {}

.map {}

.map_container {}

.map-wrapper {
    display: grid;
    grid-template-columns: 236px 1fr;
    margin-bottom: 75px;
}

.map-navigations {
    display: flex;
    flex-direction: column;


}

.map-navigation {
    font-family: 'IBM Plex Mono';
    font-size: 18px;
    line-height: 141.8%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(94, 110, 129, 0.72);
    padding-top: 66px;
    padding-bottom: 19px;
    cursor: pointer;
}

.map-navigation:hover {
    color: #FF0000;
}

.map-images {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.map-image {
    display: none;
    background-size: cover;
    background-position: center;
    width: 771px;
    height: 611px;

}

.map-image:nth-child(1) {
    background-image: url(../assets/photo/map/park.png);
}

.map-image:nth-child(2) {
    background-image: url(../assets/photo/map/cruise.png);
}

.map-image:nth-child(3) {
    background-image: url(../assets/photo/map/parom.png);
}

.map-image:nth-child(4) {
    background-image: url(../assets/photo/map/air.png);
}

.map-image:nth-child(5) {
    background-image: url(../assets/photo/map/gd.png);
}

.map-image:nth-child(6) {
    background-image: url(../assets/photo/map/narody.png);
}

.active {
    color: #FF0000;
}

.tab_active {
    display: flex;
}

.booking {
    background: #48607E;
}

.booking_container {
    width: 1092px;
}

.booking-title {
    padding-top: 52px;
    margin-bottom: 62px;
}

.booking-title p {
    color: #fff;
}

.title {}

.content-wrapper {
    display: grid;
    grid-template-columns: 347px 1fr;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.inputs-wrapper input {
    width: 100%;
    height: 96px;
    border-radius: 15px;
    color: black;
    padding: 15px;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    border: none;
}

.inputs-wrapper input[type=submit] {
    background: #FEAA90;
    color: #fff;
    transition: all .3s ease;
}

.inputs-wrapper input[type=submit]:hover {
    background: #ff8a67;
    color: #fff;
}

.message-wrapper {
    display: flex;
    height: 80%;
    justify-content: flex-end;
}

.footer {
    background: rgba(146, 169, 194, 0.72);
    /* height: 172px; */
}

.footer_container {
    padding: 37px 0;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-title {
    font-family: 'Michroma';
    font-size: 14px;
    line-height: 141.8%;
    letter-spacing: 0.14em;
}

.footer-subtitle {
    font-family: 'Michroma';
    font-size: 14px;
    line-height: 141.8%;
    letter-spacing: 0.14em;
}

.social-network {
    display: flex;
    gap: 21px;
}
.social-network img{
cursor: pointer;
}
.social-network img:hover{
   filter: invert(1);
}